api = dict(
    uri='http://localhost:9966/api/',
    username='',
    password=''
)

mail = dict(
    mfrom='noreply@local.dev',
    to='noreply@local.dev'
)

logstash = dict(
    host='localhost',
    port=9977
)

ldap = dict(
    host='ldaps://',
    port='389',
    base_dn='',
    user='',
    password='',
    page_size=1000
)
