api:
  uri: "http://localhost:9966"
  username: ""
  password: ""

ldap:
  host: "ldaps://"
  port: "389"
  user: ""
  password: ""
  base_dn: ""
  page_size: 1000
  filter: "uid=*"

email:
  from: "scripts@openlrw.dev"
  to: "scripts@openlrw.dev"

db_moodle:
  host: ""
  name: ""
  username: ""
  password: ""

apogee:
    # Path to the file that contains the LineItem names / you should use absolute path
    lineitems_name_filepath: "/home/OpenLRW-scripts/data/LineItems/Apogee/lineitems_name.csv"
    results_directory: "//home/OpenLRW-scripts/data/LineItems/Apogee/results/"

classes:
    # Path to the file that contains the active classes, template file at ../data/Classes/active_classes.txt.dist - [USE AN ABSOLUTE PATH]
    active_classes_filepath: "/home/OpenLRW-scripts/data/Classes/active_classes.txt"
