api:
  uri: "http://localhost:9966"
  username: ""
  password: ""

ldap:
  host: "ldaps://"
  port: "389"
  user: ""
  password: ""
  base_dn: ""
  page_size: 1000

email:
  from: "scripts@openlrw.dev"
  to: "scripts@openlrw.dev"

db_moodle_log:
  host: ""
  name: ""
  username: ""
  password: ""
  log_table: ""

db_moodle:
  host: ""
  name: ""
  username: ""
  password: ""
